<!-- loader -->
<div *ngIf="!wikis">
    <div class="text-center animate fadeIn fast">
        <h3><i class="fa fa-refresh fa-spin"></i> Cargando Wikis...</h3>
    </div>
</div>

<!-- mensaje 'no resultados' -->
<div *ngIf="wikis?.length == 0">
    <div class="text-center animate fadeIn fast">
        <h3><i class="fa fa-frown-o"></i> No hay Wikis Registradas.</h3>
    </div>
</div>

<div *ngIf="wikis">

    <!-- listado de tarjetas wiki -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-6 col-sm-6 col-xs-12 profile_details animate fadeIn fast" *ngFor="let wiki of wikis">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>{{ wiki.titulo }}</i></h4>
                        <br/>
                        <h5 class="brief"><i>{{ wiki.tema }}</i></h5>
                        <div class="left col-xs-7">
                            <h2>{{ wiki.usuario }}</h2>
                            <p><strong>Fecha: </strong>{{ wiki.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-book"></i> Articulo: </li>
                                <li>
                                    <p class="block-with-text-3lines">
                                        {{ wiki.articulo}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img [src]="wiki.urlfotoUsuario | imagen" alt="..." alt="" class="img-circle img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                                <a>4.0</a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="clearfix"></div> -->

        </div>

    </div>
    <!-- fin listado de tarjetas wiki -->

    <!-- botonera paginado wikis -->
    <div class="row" *ngIf="wikis?.length > 0">
        <div class="col-md-6 col-sm-6 col-xs-12 profile_details marg_L_10 animate fadeIn fast">

            <button class="btn btn-success waves-effect waves-light" (click)="paginaInicio()">
              Inicio
            </button>
            <button class="btn btn-success waves-effect waves-light" (click)="paginaSiguiente()">
              <i class="fa fa-plus-circle"></i>
              Mas Resultados
            </button>

        </div>
    </div>
    <!-- fin botonera paginado wikis -->

</div>